/*
    First Name: Lingkun
    Last Name: Sun
    Student Id: 1001989812
 */

.tile {
    position: relative;
}

.tile-big {
    height: 130px;
    width: 150px;
}
.tile-big img {
    height: 130px;
    width: 150px;
}

.tile-small {
    height: 50px;
    width: 60px
}

.img {
    width: 100%;
}

.addCart {
    position: absolute;
    right: 5px;
}

.cartIcon {
    font-size: 2em;
}

.desc {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: antiquewhite;
    text-align: center;
}

.desc:hover {
    opacity: 0.7;
    background-color: rebeccapurple;
}
.detail-img {
    width: 100%;
}
.price-tag {
    color: #960505;
}