/*
    First Name: Xuewei
    Last Name: Niu
    Student Id: 1001989800
 */

.form-container {
    margin-top: 30px;
}

.login-form-button {
    width: 100%;
}

.field-icon {
    color: rgba(0,0,0,.25);
}