/*
    First Name: Miaochen
    Last Name: Li
    Student Id: 1001989802
 */
.admin_item {
    margin-left: 20px;
    margin-right: 20px;
}

.comp_space {
    margin-top: 15px;
    margin-bottom: 15px;
}

.select_space {
    margin-top: 30px;
    margin-left: 10px;
}

.button_space {
    margin-left: 120px;
}